<h1>Drinks</h1>
<style type="text/css">
  .carousel {
    -webkit-transition: -webkit-transform 1s;
  }
  
  .figurine {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 24px;
    color: black;
    text-align: center;
    
    -webkit-transition: opacity 1s, -webkit-transform 1s;
  }
</style>

<div style="position: relative; -webkit-perspective: 1100px; -webkit-perspective-origin-y: -75px; height: 140px; width: 210px; margin: 0 auto;">
  {{outlet}}
</div>
