{{#with view.controller}}
  <div class="modal-header">
    <h3 id="drinkView">{{name}} Recipe</h3>
  </div>
  <div class="modal-body">
    <p>
      <ol>
        <li>Booze.</li>
        <li>Booze.</li>
        <li>More Booze.</li>
      </ol>
    </p>
    <p>
      Drink some, then drink s'more!
    </p>
  </div>
{{/with}}